@model Darknet.Models.UserDetailsModel
@{
    ViewData["Title"] = "User Details";
}
<h2>View Profile</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Profile Info</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4"><label>First Name</label></div>
                        <div class="col-md-4"><p>@Model.FirstName</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Last Name</label></div>
                        <div class="col-md-4"><p>@Model.LastName</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Mobile</label></div>
                        <div class="col-md-4"><p>@Model.Mobile</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Address</label></div>
                        <div class="col-md-4"><p>@Model.Address</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Friends </div>
                <div class="panel-body">
                    @foreach (var friend in Model.Friends)
                    {
                        <div class="row">
                            <div class="col-md-4">@friend.FirstName</div>
                            <div class="col-md-4"><p>@friend.LastName</p></div>
                            <div class="col-md-4"><p>@friend.PrivacyLevel</p></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
