<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Profile Info</div>
        <div class="panel-body">
            <div class="profile">
                <div class="row">
                    <p class=""><label>First Name:</label> @Model.FirstName</p>
                </div>
                <div class="row">
                    <p class=""><label>Last Name:</label> @Model.LastName</p>
                </div>
                <div class="row">
                    <p class=""><label>Mobile:</label> @Model.Mobile</p>
                </div>
                <div class="row">
                    <p class=""><label>Address:</label> @Model.Address</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Relationships </div>
        <div class="panel-body">
            @foreach (var friendsListGroup in Model.FriendsListDict)
            {
                <ul class="customList">
                    <li class="customListItemLabel"><label>@friendsListGroup.Key</label></li>
                    @foreach (var friend in friendsListGroup.Value)
                    {
                        //var profileLink = $"/UserDetails/Profile?username={friend.Username}";
                        var profileLink = $"/Home/Index?username={friend.Username}";
                        <li class="customListItem"><a href="@profileLink">@friend.FirstName @friend.LastName</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</div>