@model Darknet.Web.Models.UserDetailsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-center">Welcome to DarkNet, @Model.FirstName!</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Profile Info</div>
                <div class="panel-body">
                    <div class="profile">
                        <div class="row">
                            <p class=""><label>First Name:</label> @Model.FirstName</p>
                        </div>
                        <div class="row">
                            <p class=""><label>Last Name:</label> @Model.LastName</p>
                        </div>
                        <div class="row">
                            <p class=""><label>Mobile:</label> @Model.Mobile</p>
                        </div>
                        <div class="row">
                            <p class=""><label>Address:</label> @Model.Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Relationships </div>
                <div class="panel-body">
                    @foreach (var friendsListGroup in Model.FriendsListDict)
                    {
                    <ul class="customList">
                        <li class="customListItemLabel"><label>@friendsListGroup.Key</label></li>
                        @foreach (var friend in friendsListGroup.Value)
                        {
                            var profileLink = $"/UserDetails/Profile?username={friend.Username}";
                            <li class="customListItem"><a href="@profileLink">@friend.FirstName @friend.LastName</a></li>
                        }
                    </ul>
                    }

                    @*@foreach (var friendsListGroup in Model.FriendsListDict)
        {
            <div class="row">
                <div class="col-md-4"><p><label>@friendsListGroup.Key</label></p></div>
            </div>
            foreach (var friend in friendsListGroup.Value)
            {
                <div class="row">
                    <div class="col-md-4 p-md-5" ><p>@friend.FirstName @friend.LastName </p></div>
                </div>
            }
        }*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Update your status</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/UserDetails/StatusUpdate">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="What are you thinking now?"></textarea>
                    </div>
                    <div class="form-inline">
                        <select id="input_sex" class="form-control">
                            <option value="select">Set Privacy Level</option>
                            <option value="public">Public</option>
                            <option value="friends">Friends</option>
                            <option value="acquaintance">Acquaintance</option>
                        </select>

                        <button type="button" class="btn btn-default btn-success pull-right">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Posts</h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Post-1
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Post-2
            </div>
        </div>
    </div>
</div>
